/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("../images/site-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
}
main {
  flex: 1 0 auto;
}

#logo-container {
  margin-left: 20px;
}

#nav-mobile > li {
  text-align: center;
  color: black;
}

#home-page-logo {
  display: inline-block;
  overflow: hidden;
  max-height: 50vh;
}

#home-page-logo > img {
  max-height: 50vh;
}

#root > div > footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5em;
  padding: 2em;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

#root > div > div.nav-wrapper > nav {
  background-color: #616161;
}

#landing-page {
  margin: 0 auto;
}

#landing-page h2 {
  font-size: 500%;
  font-weight: bolder;
  color: #ee6e73;
}

#landing-page p {
  font-size: 150%;
  font-weight: bolder;
  color: #ee6e73;
}

#survey-list-heading #list-heading {
  font-size: 250%;
  font-weight: bolder;
  color: #ee6e73;
}

#survey-list-heading h6 {
  font-size: 150%;
  font-weight: bolder;
  color: #ee6e73;
}

#survey-list h4 {
  font-weight: bolder;
  color: white;
}

#survey-list h5 {
  font-weight: bold;
  color: white;
}

#survey-list p {
  font-size: 1.5em;
}

.survey-title,
.survey-subject,
.survey-question {
  display: inline-block;
  width: 180px;
}

#survey-title {
  color: white;
}

.new-survey-display h2 {
  text-align: center;
  font-size: 400%;
  font-weight: bolder;
  color: #ee6e73;
}

.survey-form {
  padding: 2em 5em 2em 5em;
  background-color: white;
  font-size: 1.5em;
  padding-bottom: 200px;
}

.survey-form label {
  font-size: 1em !important;
}

.new-survey-fields {
  padding-bottom: 150px;
}

.new-survey-review h2 {
  text-align: center;
  font-size: 400%;
  font-weight: bolder;
  color: #ee6e73;
}

.new-survey-fields {
  margin-top: 2em;
  padding: 2em 5em 6em 5em;
  background-color: white;
  font-size: 1.5em;
}

.review-fields {
  font-size: 1em !important;
  margin: 25px 0 10px 0 !important;
}

.review-fields-labels {
  font-size: 1.5em !important;
}

#review-buttons {
  margin-top: 25px;
}

#tallies-to-date tr td {
  font-size: 1.5em;
}

table {
  width: 300px;
}

table tr td:nth-child(1) {
  width: 50px;
}

table tr td:nth-child(2) {
  width: 100px;
  text-align: right;
}
